{% extends 'base.html'%}

{% block title %}
        <title>Signup</title>
{% endblock %}

{% block content %}
        <h2>Inscription</h2>
    {% if form.errors %}
        <div class="error">{{ form.errors }}</div>
    {% endif %}
    <form method="post">
        {{ form.as_table }}
        {% csrf_token %}
        <div class="mt-5">
            <button class="btn-primary rounded" type="submit" >S’inscrire</button>
            <button class="btn-outline-primary rounded" onclick="window.location.href = '{% url 'login' %}'">Retour</button>
        </div>
    </form>
{% endblock %}

