

<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LITReview_create_review</title>
    <link rel="stylesheet" href="{% static 'css/flux_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/create_ticket_style.css' %}">
</head>
<body>
    <header>
        {% if user.is_authenticated %}
        <p id="connection">Bienvenue {{ request.user }}. <a href="{% url 'logout' %}">Se déconnecter</a></p>
        {% endif %}
        <div class="banner">
            <a href="{% url 'flux' %}">Flux</a>
            <a href="{% url 'posts' %}">Posts</a>
            <a>Abonnements</a>
        </div>
        <h1 id="mainTitle">LITReview</h1>
    </header>
    <h2>Créer le ticket</h2>
    <form class="form" method="post" enctype="multipart/form-data">
        <div class="fields">
            {{ ticket_form.as_ul }}
            <br>
            <h2>Créer la critique</h2>
            {{ review_form.as_ul }}
            {% csrf_token %}
        </div>
        <div class="send">
        <button  type="submit" >Envoyer</button>
        </div >
    </form>

</body>
</html>