
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LITReview_flux</title>
    <link rel="stylesheet" href="{% static 'css/flux_style.css' %}">
</head>
<body>

    <header>
        {% if user.is_authenticated %}
        <p id="connection">Bienvenue {{ request.user }}. <a href="{% url 'logout' %}">Se déconnecter</a></p>
        {% endif %}
        <div class="banner">
            <a><b>Flux</b></a>
            <a href="{% url 'posts' %}">Posts</a>
            <a href="{% url 'follow_users' %}">Abonnements</a>
        </div>
        <h1 id="mainTitle">LITReview</h1>
    </header>

    <nav>
        <button onclick="window.location.href = '{% url 'create_ticket' %}';">Demander une critique</button>
        <button onclick="window.location.href = '{% url 'create_review' %}';">Créer une critique</button>
    </nav>

    <article>
        {% for post in posts %}
            {% if post.content_type == 'REVIEW' %}
            <div class="post">
                <div class="review">
                    <div class="header_review">
                        <p class ="title"> {{ post.user }} a publié une critique</p>
                        <p class="date"> {{ post.time_created }}</p>
                    </div>
                    <h3> {{ post.headline}}: score {{ post.rating }}/5</h3>
                    <p> {{ post.body}}</p>
                </div>
                <div class="ticket_review">
                    <div class="header_ticket_review">
                        <p class ="title"> Ticket - {{ post.ticket.user }}</p>
                        <p class="date"> {{ post.ticket.time_created }}</p>
                    </div>
                    <p> {{ post.ticket.title }}: {{ post.ticket.description }}</p>
                    {% if post.ticket.image %}
                        <img src="{{ post.ticket.image.url }}">
                    {% endif %}
                </div>
            </div>

            {% else %}
            <div class="post">
                <div class="ticket">
                    <p class ="title"> {{ post.user }} demande une critique</p>
                    <p class="date"> {{ post.time_created }}</p>
                </div>
                <p> {{ post.title }}: {{ post.description }}</p>
                {% if post.image %}
                    <img src="{{ post.image.url }}">
                {% endif %}
                {% if not  post.id in tickets_already_answer %}
                    <form action='{% url "create_review_from_ticket" %}'  method='post'>
                    {% csrf_token %}
                        <button type="submit" value="{{ post.id }}" name="ticket_id"> Créer une critique  </button>
                    </form>
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}

    </article>


</body>
</html>