{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LITReview_flux</title>
    <link rel="stylesheet" href="{% static 'css/flux_style.css' %}">
</head>
<body>

    <header>
        {% if user.is_authenticated %}
        <p id="connection">Bienvenue {{ request.user }}. <a href="{% url 'logout' %}">Se déconnecter</a></p>
        {% endif %}
        <div class="banner">
            <a href="{% url 'flux' %}"><b>Flux</b></a>
            <a href="{% url 'posts' %}">Posts</a>
            <a>Abonnements</a>
        </div>
        <h1 id="mainTitle">LITReview</h1>
    </header>

    <article>
        <h2>Suivre des utilisateurs</h2>
        <form method="POST">
            {% csrf_token %}
            <select  size="1" name="to_follow">
            {% for user_to_follow in users_to_follow %}
                <option value="{{ user_to_follow.id }}">{{ user_to_follow }}</option>
            {% endfor %}
            </select>
            <input type="submit">
         </form>
        {% if users_followed %}
            <h2>Utilisateurs que vous suivez:</h2>
            {% for user_followed in users_followed %}
                <p>- {{ user_followed.followed_user.username }}</p>
                    <form method="post" action="{% url 'delete_user' user_followed.followed_user.id  %}"
                          onsubmit="return confirm('Voulez vous vraiment supprimer cet abonnement ?')">
                        {% csrf_token %}

                        <button type="submit" name="to_delete">Supprimer
                    </button>
                    </form>
            {% endfor %}
        {% endif %}
        {% if users_follow_you %}
            <h2>Les utilisateurs qui vous suivent:</h2>
            {% for user_follow in users_follow_you %}
                <p>- {{ user_follow }}</p>
            {% endfor %}
        {% endif %}
    </article>





</body>
</html>