{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LITReview_flux</title>
    <link rel="stylesheet" href="{% static 'css/flux_style.css' %}">
</head>
<body>

    <header>
        {% if user.is_authenticated %}
        <p id="connection">Bienvenue {{ request.user }}. <a href="{% url 'logout' %}">Se déconnecter</a></p>
        {% endif %}
        <div class="banner">
            <a href="{% url 'flux' %}"><b>Flux</b></a>
            <a href="{% url 'posts' %}">Posts</a>
            <a>Abonnements</a>
        </div>
        <h1 id="mainTitle">LITReview</h1>
    </header>

    <article>
        {% if followed_users %}
            <h2>Utilisateurs que vous suivez:</h2>
            {% for followed_user in followed_users %}
                <p>- {{ followed_user.followed_user.username }}</p>
            {% endfor %}
        {% endif %}
        <h2>Suivre des utilisateurs</h2>
        <form method="post">
            {{ user_followed_form.as_p }}
            {% csrf_token %}
            <button type="submit" >Confirmer</button>
        </form>

     <FORM>
<SELECT name="nom" size="1">
    {% for user in users %}
<OPTION>{{ user }}
    {% endfor %}

</SELECT>
</FORM>


    </article>





</body>
</html>