{% extends 'base.html'%}

{% block title %}
        <ttle>Abonnement</ttle>
{% endblock %}

{% block content %}
    <article>
        <h2>Suivre d'autres utilisateurs</h2>
        <form method="POST">
            {% csrf_token %}
            <select  size="1" name="to_follow">
            {% for user_to_follow in users_to_follow %}
                <option value="{{ user_to_follow.id }}">{{ user_to_follow }}</option>
            {% endfor %}
            </select>
            <input type="submit" class="btn-primary rounded ">
         </form>
        {% if users_followed %}
            <h2 class="mt-5">Utilisateurs que vous suivez:</h2>
                {% for user_followed in users_followed %}
                    <div class="border border-secondary border-2 rounded-3 d-flex justify-content-between my-2 mx-5">
                        <h4 class="m-2">{{ user_followed.followed_user.username }}</h4>
                        <form method="post" action="{% url 'delete_user' user_followed.followed_user.id  %}"
                              onsubmit="return confirm('Voulez vous vraiment supprimer cet abonnement ?')">
                            {% csrf_token %}
                            <button type="submit" name="to_delete" class="btn-danger rounded m-2 ">Désabonner</button>
                        </form>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if users_follow_you %}
            <h2>Abonnés:</h2>
            {% for user_follow in users_follow_you %}
                <h4 class="border border-secondary border-2 rounded-3 d-flex justify-content-between my-2 mx-5 p-2">
                    {{ user_follow }}</h4>
            {% endfor %}
        {% endif %}
    </article>
{% endblock %}




