h2 {
    text-align: center;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.fields {
    padding: 0 30% 0 30%;
}
.send {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}
