body {
    padding: 1%;
}

header > h1 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 50px;
}

a:link
{
 text-decoration:none;
}


.banner {
    display: flex;
    justify-content: end;
}

.banner > a {
    margin-right: 5%;
    font-size: 1.3em;
}
header > p {
    text-align: left;
    margin-right: 5%;
}

nav {
    padding: 0 30% 0 30%;
    display: flex;
    justify-content: space-around;
}

h2 {
    text-align: center;
}


article {
    padding: 0 20% 0 20%;
}

.post {
    padding: 1% 2% 1% 2%;
    margin-top: 5%;
    border : 1px solid;
    border-color : black;
}

.header_review {
    display: flex;
    justify-content: space-between;
}

.ticket_review {
    border : 1px solid;
    border-color : black;
    padding: 5px
}

.header_ticket_review {
    display: flex;
    justify-content: space-between;
}


.date {
    display: inline;
    item-align: right;
}

img {
    padding-bottom: 10px;
    max-width: 120px;
    height: auto;
}



