body {
    padding: 2%
}

header > h1 {
    font-size: 3em;
    text-align: center;
}

.container {
    margin-top: 80px;
    text-align: center;
}

.signup > p {
    font-size: 2em;
    margin-bottom: 15px;
}